* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}

header {
    min-height: 120px;
    background: linear-gradient(to right, rgb(113, 30, 30), rgb(245, 245, 124), rgb(61, 109, 131));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 45px;
    margin-right: 10px;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}